.inputContainer {
  position: relative;
  margin-bottom: 30px;
  label {
    font-size: $font-size-body;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 5px;
    background: $background-color;
    box-shadow: $shadow-medium;
    position: absolute;
    left: 0;
    bottom: 30px;
  }
  .image_input_preview {
    max-width: calc(100% - 30px);
    margin-left: 30px;
    border-radius: 5px;
    box-shadow: $shadow-medium;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      &.fullHeight {
        height: 100%;
      }
      &.fullWidth {
        width: 100%;
      }
    }
  }
  input[type="file"] {
    display: none;
  }
  textarea, input[type='text'], input[type='password'], trix-editor {
    padding: 15px;
    background-color: $background-color;
    font-size: $font-size-body;
    display: block;
    resize: none;
    border: none;
    border-radius: 5px;
    box-shadow: $shadow-medium;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    outline: none;
  }
  .attachment__caption {
    display: none;
  }
}
.submitContainer {
  position: fixed;
  z-index: 10;
  top: 30px;
  right: 60px;
  padding: 5px;
  background: $gradient;
  border-radius: 10px;
  box-shadow: $shadow-medium;
  opacity: 0;
  input[type="submit"], a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    font-size: $font-size-body;
    color: $text-color;
    font-weight: bold;
    background: $background-color;
  }
}
.submitContainer:hover {
  box-shadow: $shadow-large;
}
.submitContainer.clickable {
  opacity: 1;
}
.submitContainer.loading input[type="submit"] {
  opacity: 0;
}
.submitContainer, .submitContainer input[type="submit"] {
  transition: opacity 0.3s, box-shadow .2s;
}

#backButton {
  display: inline-block;
  vertical-align: middle;
  width: 52px;
  height: 52px;
  background: $background-color;
  background: url("../images/icons/arrow_left.svg") no-repeat;
  background-size: 100%;
  box-shadow: $shadow-medium;
  border-radius: 5px;
  margin-right: 30px;
}