/Source/*
!/Source/Candide
!/Source/admin
!/Source/Candide.php
!.gitignore
/Source/admin/node_modules
/Source/admin/plugins/*
/Candide.xd
/.idea
/node_modules
package-lock.json
.DS_Store
/Demo/admin/node_modules