$font-primary: "Arial", sans-serif;
$background-color: #FEFEFE;
$text-color: #101010;
$color-grey: #838383;
$gradient: linear-gradient(to right bottom, #96FBC4 0%, #F9F586 100%);

$shadow-large: 0 0 10px rgba(0,0,0,0.16);
$shadow-medium: 0 0 3px rgba(0,0,0,0.16);

$font-size-logo: 50px;
$font-size-title: 30px;
$font-size-body: 20px;
$font-size-info: 14px;