@import "_config.scss";

@import "partials/sidebar";
@import "partials/form";
@import "partials/font";
@import "partials/collection";
@import "partials/login";

body {
  margin: 0;
  background: $background-color;
  color: $text-color;
  font-family: $font-primary;
}

#content {
  margin-left: 25vw;
  width: 75vw;
  height: 100vh;
  overflow: auto;
  padding: $m-marge $l-marge;
  box-sizing: border-box;
}

// Medium width
@media screen and (max-width: 950px) and (min-width: 801px) {
  #content {
    margin-left: 30vw;
    width: 70vw;
  }
  nav {
    width: 30vw;
  }
}

// Small width
@media screen and (max-width: 800px) {
  #content {
    margin-left: 0;
    width: auto;
    height: auto;
    padding: $m-marge $s-marge $xl-marge;
  }
  @import "partials/fluid/menu";
  @import "partials/fluid/form";
  @import "partials/fluid/collection";
}