.collectionItemBox {
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 15px;
  background-color: $background-color;
  box-shadow: $shadow-medium;
  margin-bottom: 30px;
  border-radius: 5px;
  transition: box-shadow .2s, background-color .2s;
  h2 {
    flex: 3;
  }
  a.button {
    position: relative;
    display: block;
    margin: 0 30px;
    height: 40px;
    width: 40px;
  }
  a.button::after {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 0px;
    opacity: 0;
    bottom: -5px;
    left: 0;
    background: $gradient;
    border-radius: 2.5px;
    transition: height .2s, opacity .2s;
  }
  a.button:hover::after {
    height: 5px;
    opacity: 1;
  }
  a.editButton {
    background: url('../images/icons/edit.svg') no-repeat center;
    background-size: auto 100%;
  }
  a.deleteButton {
    background: url('../images/icons/trashbin.svg') no-repeat center;
    background-size: auto 100%;
  }
}
.collectionItemBox:hover {
  box-shadow: $shadow-large;
}
.collectionItemBox.waiting {
  background-color: #ba5914;
  h2, a {
    visibility: hidden;
  }
}