h1 {
  font-size: $font-size-title;
  font-weight: bold;
}
h2 {
  font-size: $font-size-body;
  font-weight: bold;
}

p {
  font-size: $font-size-body;
}
p.error {
  font-size: $font-size-info;
  color: darkred;
}