#login {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: $gradient;
  form {
    width: 60vw;
    background-color: $background-color;
    padding: $m-marge;
    border-radius: $radius;
    text-align: center;
    .inputContainer {
      text-align: left;
      width: 100%;
    }
    .submitContainer {
      position: static;
      display: inline-block;
    }
  }
}