#login {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: $gradient;
  form {
    max-width: 80%;
    width: 650px;
    background-color: $background-color;
    padding: $m-marge;
    border-radius: $radius;
    text-align: center;
    .inputContainer {
      width: 100%;
      input {
        text-align: center;
        margin: 0 auto;
      }
    }
    .submitContainer {
      position: static;
      display: inline-block;
    }
  }
}