nav {
    width: 100vw;
    position: relative;
    #header {
        padding: $m-marge;
        display: flex;
        justify-content: space-between;
        a.hamburgerButton {
            display: block;
            height: 50px;
            width: 50px;
            background: url("../images/icons/menu.svg") no-repeat center;
            background-size: 100%;
        }
    }
    .navSection {
        display: none;
    }
}

body.menuOpen {
    #header a.hamburgerButton {
        background-image: url(../images/icons/close.svg);
    }
    .navSection {
        display: block;
    }
    #content {
        display: none;
    }
}