h1 {
  font-size: $font-size-title;
  font-weight: bold;
  margin: $m-marge 0 $l-marge;
}
h2 {
  font-size: $font-size-body;
  font-weight: bold;
  margin: 0 0 $xs-marge;
}

p {
  font-size: $font-size-body;
  line-height: 1.5;
}
p.error {
  font-size: $font-size-info;
  color: darkred;
}